* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(17, 17, 17);
}
.container {
  text-transform: capitalize;
  font-size: 50px;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: crimson;

  border-right: 2px solid crimson;
  width: 0%;
  overflow: hidden;
}
.static {
  color: rgb(17, 17, 17);
  -webkit-text-stroke: 2px rgb(41, 41, 41);
}
